
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height:150vh;
  background: linear-gradient(rgb(117, 209, 221), rgb(35, 49, 126));
  font-family: sans-serif;
  color:rgb(17, 76, 83);
  margin-top: 5rem;
}

.container{
  max-width:40%;
  margin: auto;
}

.header{
  font-size: 30px;
  text-align: center;
  margin-bottom:20px;
  color:white;
}

.weather-description{
  font-size: 1.25rem;
}

.weather-err{
  text-align: center;
  color:rgb(228, 34, 34);
  font-weight: bold;
  height: 30px;
  font-size:20px;
}
@media only screen and (min-width: 480px)and (max-width: 801px){
  .container{
    max-width:70%;
    margin: auto;
  }
}

