
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height:100vh;
  background: linear-gradient(rgb(117, 209, 221), rgb(35, 49, 126));
  font-family: sans-serif;
  color:rgb(17, 76, 83);
  margin-top: 5rem;
}
.container{
  max-width:40%;
  margin: auto;
}
.header{
  font-size: 30px;
  text-align: center;
  margin-bottom:20px;
  color:white;
}
.inputdata{
  width:100%;
  border: none;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid rgb(238, 187, 70);
  border-radius: 5px;
  outline: none;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
}

.btn{
  width:100%;
  color:rgb(104, 100, 100);
  font-weight: bold;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  border-bottom: 4px solid rgb(238, 187, 70);
  border-radius: 5px;
  margin-bottom: 1.25rem;
  font-size: inherit;
  outline: none;
}
.btn:hover{
  background-color: rgb(238, 187, 70);
}
.main-location{
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(241, 197, 94), rgb(216, 109, 55));
  border-radius: 2.5rem;
}
.location{
  width:18.75rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  line-height: 2rem;
}
.weather-description{
  font-size: 1.25rem;
}
img{
  width: 9.3rem;
}
.weather-err{
  text-align: center;
  color:rgb(228, 34, 34);
  font-weight: bold;
  height: 30px;
  font-size:20px;
}
@media only screen and (min-width: 480px)and (max-width: 801px){
  .container{
    max-width:70%;
    margin: auto;
  }
}
